venv/
.vscode/
.env
__pycache__/
CLAUDE.md
database/chroma-data/3e2270e9-6bfb-423b-ad6f-7881d95dbee6/data_level0.bin
database/chroma-data/3e2270e9-6bfb-423b-ad6f-7881d95dbee6/header.bin
database/chroma-data/3e2270e9-6bfb-423b-ad6f-7881d95dbee6/length.bin
database/chroma-data/3e2270e9-6bfb-423b-ad6f-7881d95dbee6/link_lists.bin
backend/instance/bylaw_eval.db
