h3 {
  font-size: clamp(15px, 18px, 20px);
  font-weight: 600;
  font-style: italic;
}

p {
  font-size: clamp(15px, 20px, 25px);
  font-weight: 500;
  color: #0060A1;
  margin-bottom: 22.5;
}

body {
  background-color: #EEF3F6;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.contentContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.submitButtonQuery {
  top: 3px;
  right: 30px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* ButtonRoute are buttons that redirect to another page*/
.buttonRoute {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 10vw; /* Scales with screen height and width */
  font-size: clamp(15px, 5vw, 18px); /* Responsive font size */
  font-weight: bold;
  color: #0060A1;
  border: 2px solid #0060A1;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  height: 40px;
  margin: 22.5px;
}

.buttonRoute:hover {
  background-color: #004A8F;
  color: white;
}

.buttonSubmit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 10vw; /* Scales with screen height and width */
  font-size: clamp(15px, 5vw, 18px); /* Responsive font size */
  font-weight: bold;
  color: #FFFFFF;
  border: 2px solid #0060A1; 
  background-color: #0060A1;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  height: 40px;
  margin: 22.5px;
}

.buttonSubmit:hover {
  background-color: white;
  color: #004A8F;
}

.buttonState {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1vh 10vw; /* Scales with screen height and width */
  margin: 22.5px;
  font-size: clamp(10px, 5vw, 15px); /* Responsive font size */
  font-weight: bold;
  color: #0060A1;
  border: 2px solid #0060A1; /* Scales border size */
  background-color: white;
  border-radius: 5px; /* Scales border radius */
  cursor: pointer;
  white-space: nowrap;
  width: 130px;
  height: 40px;
}

.custom-checkbox {
  position: relative;
  left: 5px;
  width: 25px;
  height: 25px;
  border-color: #0060A1;
  accent-color: #0060A1;
}


.buttonState:hover {
  background-color: #004A8F;
  color: white;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clickable-image {
  cursor: pointer;
}

.clickable-text {
  cursor: pointer;
  color: #0060A1;
}

.clickable-text:hover {
  text-decoration: underline;
  color: #004c82;
}


@media (max-width: 600px) {
  .buttonRoute {
    padding: 2vh 20vw; /* Adjust padding for smaller screens */
    font-size: clamp(15px, 5vw, 18px);
    /* border-radius: 1.0vh; */
  }

  .buttonSubmit {
    padding: 2vh 20vw; /* Adjust padding for smaller screens */
    font-size: clamp(15px, 5vw, 18px);
    /* border-radius: 1.0vh; */
  }

  .buttonState {
    padding: 2vh 20vw; /* Adjust padding for smaller screens */
    font-size: clamp(10px, 5vw, 15px);
    /* border-radius: 1.0vh; */
  }

}

.test {
  border: 1px solid black;

}