.chatMessagesContainer {
    height: 65vh;
    width: 100vw;
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
}

.messagesWrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-items: right;

}

.systemMessage {    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-align: left;
    font-size: 15px;
    color: #444444;
    overflow: auto; 
}

.userMessage {
    color: #444444;
    background-color: white;
    overflow: auto;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    text-align: left;

    border: 1px solid #444444;
    border-radius: 5px;
    width: 250px;

    align-self: flex-end;
}

.textareaChatContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.textareaChatWrapper {
    display: flex;
    align-items: center;
    height: 90px;
    width: 350px;
}

.textareaChat {
    font-family: 'Poppins', sans-serif;    
    padding: 1vw;
    border-radius: 5px;
    padding-right: 2rem;
    resize: none;    
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.overlayImage {    
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 35px;
    right: 10px;
    z-index: 1;    
}