.textareaInput{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, 1.2vw, 16px);
    
    width: 330px;
    height: 35px;
    border: none;
    box-shadow: inset 0px 0px 0px 0.8px #444444;
    border-radius: 5px;
    
    padding: 10px 12px; 
    margin-bottom: 22.5px;
    line-height: 1.2;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;

    text-align: left;
    vertical-align: middle;
}

.inputWrapper {
    width: 100%;    
    height: 35px;
    margin-bottom: 50px;
}

.suggestionDropDown {
    position: relative;
    left: 120px;
    bottom: 20px;

    position: relative;
    width: 330px;
    min-height: 75px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

    background-color: white;
    border: solid thin;
    bottom: 20px;

    font-size: small;
    font-weight: 600;
    color: #444444;
    z-index: 1;
}

.dropdown_item {
    padding: 10px 0px 5px 0px;
    cursor: pointer;
    color: black;
}

.dropdown-item:hover {
    text-decoration: underline;
    background-color: #f1f1f1;
}

.errorText {
  position: relative;
  color: red;
  font-size: 0.875rem;
  bottom: 20px;
}

@media (max-width: 600px) {
    .textareaInput {
        border-radius: 0.8vw;
    }
}