.subtitle {
    font-size: small;
    font-weight: 500;
    color: #555b6e;
    position: relative;
    bottom: 10px;
}

.header {
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 110px;
}

.headerTrim {
    background-color: #0060A1;
    width: 100vw;
    height: 30px;
}